@import "~bootstrap/scss/bootstrap";

$mainBackgroundColor:rgb(171, 171, 135);

.drum-pad{
  margin-top: 8px!important;

  width:90px;
  height:90px;
  border:1px solid blue;


}

body{
  background:$mainBackgroundColor;
}

.App {

  text-align: center;
}

.box-one{
  background: green;
  width:300px;
  height:300px;
  
}

.box-two{
  background: yellow;
  width:300px;
  height:300px;
}

