@import "~bootstrap/scss/bootstrap";

$mainBackgroundColor:rgb(171, 171, 135);

.drum-pad{

  width:90px;
  height:90px;
  border:5px solid blue;


}

body{
  background:$mainBackgroundColor;
}

.App {

  text-align: center;
}

.box-one{
  background: green;
  width:300px;
  height:300px;
  
}

.box-two{
  background: yellow;
  width:300px;
  height:300px;
}

