@import "~bootstrap/scss/bootstrap";

$mainBackgroundColor:rgb(171, 171, 135);




body{
  background:$mainBackgroundColor;
}

.App {

  text-align: center;
}

.box{
  background: green;
  height:100%;

}

